* {
  border: 0;
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* border: 1px solid red; */
}

.container1 {
  margin-top: 20px;
}

/* Style the image */
.abtImg {
  width: 70%;
  height: auto;
}

/* Style the text */
.text-center {
  text-align: center;
}

.abtHeading {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 15%;



}

.abtDesc {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 30px;
  text-align: left;
  word-wrap: break-word;
  padding-left: 15%;

}

/* .contact-img {
    background-size: cover;
    background-position: center;
    height: 500px;
    border-radius: 10px;
    margin-left: 20px;
  } */

@media (max-width: 767px) {
  .container1 {
    margin-top: 0px;
  }

  h2 {
    margin-top: 5px;
  }
}