@import url('./index.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background Color */
.reg_BackgroundCol {
    background-color: #ffffc2;
}

/* Registration page name */
.r_name {
    display: inline;
    font-family: 'Righteous', cursive;
    font-size: 50px;
}

.r_page1 {
    margin-top: 4rem;
}

.r_inputBar {
    width: 100%;
    border-radius: 30px;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.r_inputBar:hover {
    border: 2px solid black;
}

.r_inputBar:focus {
    border: 2px solid black;
}

.r_signUp {
    border: 2px solid black;
    border-radius: 35px;
    width: 250px;
}

.r_signUp:hover {
    border: 2px solid black;
    border-radius: 35px;
    width: 250px;
}

.r_dob {
    font-family: 'Righteous', cursive;
    font-size: 25px;
}

.r_dobAlign {
    margin-top: 3rem;
}

.r_dobBar {
    width: 100%;
    border-radius: 30px;
    height: 35px;
    text-align: center;
}

/* back and next btton */
.r_btnDesign {
    border: 2px solid black;
    border-radius: 35px;
    width: 100px;
}

.r_btnDesign:hover {
    border: 2px solid black;
    border-radius: 35px;
    width: 100px;
}

.r_horizantalLine {
    width: 100%;
}

.r_btnAlign {
    /* margin-left: 61%; */
    float: right;
}

/* Image Styling */
.r_homeImg {
    margin-top: -3rem;
}

.r_imgSetting {
    width: 70%;
    margin-left: 3rem;
}




@media (max-width: 767px) {

    .r_inputBar {
        width: 100%;
        border-radius: 30px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .r_name {
        margin-bottom: 0rem;
    }

    .r_horizantalLine {
        display: none;
    }

    .r_btnAlign {
        /* margin-left: 34%; */
        float: right;
    }

    /* Image Styling */
    .r_homeImg {
        margin-top: 1rem;
    }

    .r_imgSetting {
        width: 70%;
        margin-left: 0rem;
    }

    .r_txtAlign {
        margin-top: -5rem;
    }

    .r_dobAlign {
        margin-top: 1rem;
        text-align: left;
    }



}